*,
*::before,
*::after {
	box-sizing: border-box;	
}

html {
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #2C5799;
	background-image: linear-gradient(to right top, #4e3873, #783f7c, #a0487e, #c3547a, #e06673, #ef776c, #f98b65, #ffa160, #ffb65e, #ffcb5f, #ffe265, #f9f871);	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#root {
	/* max-width: 450px; */
	margin: 2rem auto;
	padding: 0 1rem;
}

form {
	display: flexbox;
	margin-bottom: 2rem;
}

[type="text"],
button {
	display: inline-block;
	-webkit-appearance: none;
	padding: .5rem 1rem;
	font-size: 1rem;
	border: 2px solid #ccc;
	border-radius: 4px;
}

button {
	cursor: pointer;
	background: #00AEBC;
	color: white;
	border: 2px solid #00AEBC;
	margin: 0 .5rem;
}

button:active {
	transform: scale(0.85);
}

table {
	border: 1px solid #000;
	border-collapse: collapse;
	width: 50%;
	margin: 10px;
	background: #0093C0;
}


th,td {
	border: 2px solid #0075B5;
}

tr:hover,
tr:focus-within {
  background: #000064;
  outline: none;
}

td > a:first-child {
	display: flex;
	padding: 10px;
	text-decoration: none;
	color: inherit;
	z-index: 0;
	
	/* &:focus {
	  outline: 0;
	} */
}

th{
	color: black;
	font-weight: 900;
}

[type="text"] {
	width: 20%;
}

[type="text"]:active,
[type="text"]:focus {
	outline: 0;
	border: 2px solid #2C5799;
}

[type="checkbox"] {
	margin-right: 1rem;
	font-size: 2rem;
}

h1 {
	color: #222;
}
